#top-navbar{
    background-color: #343A40;
    position: relative;
    transition: height 500ms;
    overflow: hidden;
}
#top-navbar-secondary-item-container{
    display: none;
}
#top-navbar-fixed-container{
    position: fixed;
    top : 0;
    left : 0;
    right : 0;
    z-index: 1;
}

#top-navbar-item-container{
    padding : 10px;
}
#title-top-navbar{
    text-align: center;
}
#top-navbar-visitor-counter-container{
    color : white;
    position: absolute;
    right : 15px;
    top : 11px;
}
#left-navbar-title{
    padding : 5px;
}
#counter-visitor-container{
    color : white;
    padding : 10px;
}
#toggle-top-navbar{
    display: none;
    cursor: pointer;
}
#counter-visitor{

}
#left-navbar{
    background-color: #343A40;
    position: fixed;
    width : 225px;
    top : 42px;
    left : 0;
    bottom :0;
}
.left-navbar-content-a{
    /*text-decoration: none;*/
    /*color : white;*/
}

.left-navbar-content{
    cursor: pointer;
    padding : 10px;
    color : white;
}
.left-navbar-content:hover{
    background-color: #007BFF;
    color :#343A40;
}

/*.left-navbar-content-clicked{*/
    /**/
/*}*/